<div class="modal fade" id="myModalj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">What Is Crazy 'bout Elvis</h3>
          <p style="font-size:12px;" class="modal-title" id="myModalLabel">Click the <span class="xit"> X </span>in the right corner to close this popup.</p>
      </div>
      <div class="modal-body">
            <br/>
            <p>
            	I am a lifelong resident of the Springfield MO area. Over my years living here I had heard stories of Elvis Presley and his performances in Springfield (1956 & 1977) including a train stop for an interview in 1956. I thought it remarkable that he did a show here shortly before he rose to stardom, and his second appearance was 2 months before he passed away.
            </p>
            <p>
                A short time ago I had suggested to a much younger fan of Elvis (17 at the time) to think of organizing a 60th anniversary of his first concert in 2016. Shortly after this meeting I learned the details of a local man (John Wilkinson) who had approached Elvis in his dressing room in 1956 at the Shrine Mosque and stated to him that he (Elvis) “…can’t play guitar worth a damn.” John at that time was only 10 years old, but later achieved some fame as a guitar player in groups like ‘The Kingston Trio’ and ‘The New Christy Minstrels‘. Ultimately he landed in the TCB Band, which backed Elvis Presley, from 1968 until 1977 when Elvis died. 
              </p>
              <p>
                Early this year I came to the decision to start reaching out with the anniversary idea and began in earnest to pursue the possibility of the event. The first requirement was to secure the dates of April 28-30, 2016-that became a reality after discussion with the manager of the Shrine Mosque (original location for the 1956 Elvis Presley Variety Show).
                I never intended to profit from this venture and decided that we would direct the proceeds after costs to three recipients: 
              </p>
               <ul style="list-style:none;">
                 <li>1.) The Wounded Warrior Project (because of Elvis’s military service)</li> 
                 <li>2.) a scholarship at Missouri State University in the name of John Wilkinson (his father was a professor of Psychology at the same school)</li> 
                 <li>3.) The Abou Ben Adhem Shriner’s Foundation (they manage the building where the 1956 event and the future dates will be held).</li> 
               </ul>
               <p>
               There is another effort to gather donations to place statues based on the first meeting of John Wilkinson and Elvis Presley with the possibility of unveiling them at the April 2016 event. 
               </p> 
             </p>
             <p>
              Hopes are that we can celebrate Elvis and his visits here, honor John Wilkinson and secure the memory of the meeting with Elvis in 1956, and introduce a whole new generation to the music and the person, Elvis Presley. 
             </p>
             <p>
        			
                     Ted Hutchens   <br/>  
                         President  <br/>
              T. Peach Enterprises, Inc.
        	   </p>
      <button id="modclose" type="button" class="close" data-dismiss="modal" aria-hidden="true">Click Here To Close this popup.</button>
      </div>
    
    </div>
  </div>
</div>
