<p style="margin-top:10px;">
Elvis Aron Presley made his first visit to Springfield, Missouri, on May 17, 1956. 
</p>
<p>
This was shortly before he “rocketed to the stars,” and so the 3,000-seat Shrine Mosque was only about half-full. His set was 8 songs lasting 45 minutes. No TV, radio or newspaper reports of the concert exist, save for an ad from Heer’s department store that ran for 3 days offering his records. 
</p>
<p>
The following November 8th, Elvis came through Springfield again, this time as a passenger on a train headed for Las Vegas. The Frisco train stopped at the Springfield depot, where he was interviewed by a local newspaper reporter. 
</p>
<p>
The depot manager had tipped off the reporter to Elvis’s expected arrival and was persuaded to keep the visit quiet, thus guaranteeing an exclusive for the newspaper. The secrecy and some of the observations made in the story upset many of the new star’s local fans. 

The story prompted about 300 letters to the newspaper, mostly from angry young women. 
</p>
<p>
In 1977 Elvis made his final visit to Springfield, performing before a crowd of 9,000 at packed Hammons Student Center on the campus of Missouri State University. Some fans had camped on the sidewalk outside the arena for a week before the ticket windows opened. 
</p>
<p>
Just two months later, Elvis fell back to earth so hard that even God could not catch him. 
But he left something here for us. That is what this weekend is about.