 <div class="modal fade" id="myModale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Frisco Train Depot</h4>
                 <p style="font-size:12px;" class="modal-title" id="myModalLabel">Click the <span class="xit"> X </span>in the right corner to close this popup.</p>
            </div>
            <div class="modal-body">
<p>
<b>Local lucky fans got an early glimpse of Elvis</b> <br/>

By Mike O'Brien, Springfield News-Leader <br/>
Sunday, May 14, 2006 <br/>
</p>

<p>
When Elvis showed up back in Springfield aboard a Frisco Railway train on the evening of Nov. 8, 1956, the newspaper splashed a story and photograph. 
</p>
<p>
"Les Arnold, the Frisco passenger agent, tipped me that Elvis was on the Sunnyland from Memphis," recalls Dale Freeman, former News-Leader managing editor who was a reporter for the newspaper in 1956. "I begged Les not to tell anyone else. When the train pulled in at the depot, no one else (from other local news outlets) was there." 
</p>
<p>
Freeman, accompanied by staff photographer Betty Love, climbed aboard the train and found Elvis in a lounge car. The singer was traveling with his cousin, Gene Smith; Bitsy Mott, brother-in-law of "Colonel" Parker; and Richard Dougher, identified as a longtime friend of Elvis. The group was said to be heading to Las Vegas for a vacation. 
</p>
<p>
"Elvis was delightful," Freeman recalls. "He was polite. He was thin then,<br/> a handsome son-of-a-gun." 
</p>
<p>
Elvis was wearing a copper-colored sport coat over a black and silver shirt and was smoking a cigar, Freeman wrote in a story that appeared in the next afternoon's paper and was signed "The Spectator," the journalist's entertainment column identity. The article reported Elvis sat "cross-legged on a stool, sipping a straight Coke out of a Dixie cup and trying to keep his sideburns dry at the same time ... acting like any other red-blooded American boy with four Cadillacs, a Mark II Continental, a motorcycle and a million or so dollars." 
</p>
<p>
During a 15-minute chat, the topics ranged from music to movies to the possibility of Elvis being drafted into the military. 
</p>
<p>
"Aw, that was a rumor that got out," Elvis said of the draft. "Nothing to it. But when they call me, I'm ready." (He was drafted in 1958 for a two-year hitch in the Army.) 
</p>
<p>
What about reports that Elvis was dating starlet Natalie Wood? "She's just a good friend," Elvis insisted. "She left last night after visiting me and my folks in Memphis. Good kid. I asked her if she wanted me to take her back to Hollywood on my motorcycle. She said she didn't." 
</p>
<p>
That interview, and other comments about Elvis that appeared in The Spectator column, drew angry letters from readers — all young women. "We got something like 300 letters, and 99 percent of them were negative," Freeman says. "My favorite was from a girl in Marshfield who wrote, 'I'd like to cut out your guts and spit on them!'" 
</p>
<p>
Freeman says his lighthearted comments about Elvis were in keeping with the times. "In 1956, most of the populace didn't know quite what to make of Elvis yet." 
</p>
<p>
Besides, Freeman says, Elvis readily cracked jokes on himself: "At one point in our interview, Elvis said, 'Aw, I'm so drunk I can't talk.' But one of the guys with him just shook his head and said, 'Everybody knows Elvis don't drink.' 
</p>
<p>
Freeman says that although he "hated that (Elvis) let himself go in later years," he admired Elvis' musical talent and aw-shucks personality. 
</p>
<p>
"He had such a beautiful singing voice. And back then, anyway, he seemed like just a good ol' boy from Tupelo." 
</p>


              <button id="modclose" type="button" class="close" data-dismiss="modal" aria-hidden="true">Click Here To Close this popup.</button>
           	</div>
        </div>
    </div>
</div>
