 <div class="modal fade" id="myModalf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Hammons Student Center</h4>
                 <p style="font-size:12px;" class="modal-title" id="myModalLabel">Click the <span class="xit"> X </span>in the right corner to close this popup.</p>
            </div>
            <div class="modal-body">
          





              
           	</div>
        </div>
    </div>
</div>
