 <div class="modal fade" id="myModalf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Hammons Student Center</h4>
                 <p style="font-size:12px;" class="modal-title" id="myModalLabel">Click the <span class="xit"> X </span>in the right corner to close this popup.</p>
            </div>
            <div class="modal-body">
          
          <p>
           
            <b>Elvis Doesn't Need That IT anymore</b><br/>
            by Bill Tatum<br/>
            Springfield News-Leader<br/>
            June 18, 1977<br/>
        </p>
   
        <p>
We're tempted to fall back on cliches and tell you that Elvis Presley still has IT. It, of course, is that magical touch with an audience, that style or talent to captivate the masses. The truth is that he doesn't need IT anymore. The audience brings its own IT and serves it up to the King of Rock'n'Roll on a silver platter at a lifting of a diamond-studded pinky.
</p>
<p>
Presley can still sing, make no mistake. His way with a real rock'n'roller can make a middle-aged listener young again, but he's packaged - managed and merchandised to the nth degree - and fabulously wealthy for it.
</p>
<p>

Last night in the Hammons Center on the Southwest Missouri State University campus, the capacity audience was ready for him in any condition this side of mute. They were ready for him with high-decible screams and red roses to toss on stage.
</p>
<p>
He doesn't need to pump his pelvis anymore - hasn't for years. Elvis can get more mileage out of a tiptoe point lift of the knee than most performers could milk from a striptease. He spent the first 15 minutes of his portion of the show teasing and toying with the audience, especially the vocal female segment, coaxing even more hysteria from the crowd with toned-down gyrations and only slightly suggestive body English.
</p>
<p>
Before deadline pressures and a late start for the Elvis segment of the show drove this writer to his typewriter in mid.show, Elvis performed several standards and acquitted himself admirably with them.
</p>
<p>
Dropping into his stage conversation the fact that he's healthy and not to believe everything you hear about him, Elvis showed his voice was in good shape with Now Or Never, Jailhouse Rock, Love Me Do, and And I Love Her So.
</p>
<p>
Scattering purple scarves around the stage to the beseeching arms that reached out to him, Elvis could see women from 15 to 45 clamouring to get close to him. The show geared to satisfy that wide age range, as well as other audience diversities. There were standards for the older crowd (i.e. over 30 years of age) and Elvis renditions of the newer songs for the teens and 20s in the crowd.
</p>
<p>
The pre-Elvis warm-up is a masterpiece of across-the-board entertaining. The Stamps Quartet and their revival rock'n'roll contrasted with the soul and sass of the Sweet Inspirations. The appeal to the young in the audience was balanced off by the generation gap humour of Canadian comedian Jack Culhane. And the costuming even ranged from Las Vegas flash on the Stamps singers to absurdity in the comedian's Mickey Mouse bedecked overalls.
</p>
<p>
The Sweet Inspirations, a mighty sassy group of three young women, who have a real touch with a tune, were even costumed to cross the taste range from Sak's to Fredrick's of Hollywood, via thrift shop funk in lace. The entire show was a package calculated to please everybody with something it had to offer.
</p>
<p>
Courtesy of Scott Hayward


           	</div>
        </div>
    </div>
</div>
