 <div class="modal fade" id="myModalf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Shrine Mosque</h4>
            </div>
            <div class="modal-body">
           	Fifty years ago this week, Elvis Presley performed a concert at Springfield's Shrine Mosque — but local news media were more interested in appearances by singers Eddy Arnold and Vaughn Monroe and comedian Bob Cummings. 


           	</div>
        </div>
    </div>
</div>
