 <div class="modal fade" id="myModald" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Shrine Mosque</h4>
            </div>
            <div class="modal-body">
                <p>
                 In 1956, before he rocketed into music history, Presley performed at the Shrine Mosque in Springfield, MO.
                 In between shows and rehearsals, the King walked a short distance towards downtown to watch a movie at the Gillioz Theatre . Presley watched "Jubal" starring Glenn Ford from the very back row of the historic building.
                </p>
           	</div>
        </div>
    </div>
</div>
