 <div class="modal fade" id="myModald" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Shrine Mosque</h4>
                 <p style="font-size:12px;" class="modal-title" id="myModalLabel">Click the <span class="xit"> X </span>in the right corner to close this popup.</p>
            </div>
            <div class="modal-body">
                <p>
                   <b> Local lucky fans got an early glimpse of Elvis</b> <br/>

By Mike O'Brien, Springfield News-Leader <br/>
Sunday, May 14, 2006 <br/>
</p>
                <p>
                Fifty years ago this week, Elvis Presley performed a concert at Springfield's Shrine Mosque — but local news media were more interested in appearances by singers Eddy Arnold and Vaughn Monroe and comedian Bob Cummings. 
                </p>
                <p>
Elvis, 21, was on the verge of becoming a national sensation. His "Heartbreak Hotel" was climbing the hit song charts. He'd appeared on Milton Berle's and the Dorsey brothers' network TV shows. And he'd been signed to a film contract. </p>
                <p>

Still, on May 17, 1956, Elvis was, in the estimation of this newspaper, a newcomer who "performs as if he were imitating a combination of Johnny Ray, Frank Sinatra, Marlon Brando, a howling turpentined dog and a holy roller preacher." 
</p>
                <p>
Most adult music fans hereabouts were focused that day on the visit by Monroe, popular baritone from the "big band" era who was the star guest on Arnold's weekly television show, which aired via the ABC network from the Jewell Theater here. 
</p>
                <p>
And Cummings, a Joplin native with a TV sitcom running on CBS at the time, was back in the Ozarks that week. When his crew showed up to shoot some background scenes on the Drury campus here, the newspaper ran a photo — coverage that Elvis didn't rate. 
</p>
                <p>
Nevertheless, Elvis drew an enthusiastic crowd — mostly young women — at the Mosque that Thursday evening. Tickets sold for $1.50, $2 and $2.50. 
</p>
                <p>
Ads promoting the concert billed Elvis as "The Nation's Only Atomic-Powered Singer" — supreme praise in 1956. 
</p>
                <p>
Heer's department store ran a large newspaper ad on the day of the concert letting fans know that Elvis' vinyl records, in both 33- and 45-rpm formats, were in stock. Titles included "Blue Suede Shoes," "Tutti Frutti" and "Milk Cow Blues Boogie." 
</p>
                <p>
Elvis' troupe was said to include the Jordanaires, the backup singers descended from a gospel quartet originally formed in Springfield in 1948. And a 10-year-old local guitar prodigy, John Wilkinson, reportedly was introduced to Elvis backstage that night. Wilkinson grew up to become Elvis' rhythm guitar player from 1969 to 1977. 
</p>
                <p>
The Springfield stop was sandwiched between concerts in Little Rock and Wichita. Elvis' attempt to find a bit of peace and quiet away from the gruelling schedule caused a minor panic.
</p>
                <p>
Les Reynolds, then a Springfield police officer assigned to security at the Mosque, recalls that Elvis' manager, "Colonel" Tom Parker, discovered his star missing in late afternoon. 
</p>
                <p>
"He asked me where was the nearest movie theater," says Reynolds. 
</p>
                <p>
"I told him the Gillioz was a couple of blocks down the street. We got a patrol car to give 'the colonel' a ride there to look for Elvis." 
</p>
                <p>
Sure enough, Elvis was located in the Gillioz watching "Jubal," a western starring Glenn Ford. 
</p>
                <p>
When the curtain went up at the Mosque at 7 p.m., among the crowd was Susan Bryan, then a 13-year-old at Jarrett Junior High. Her mom, Louise Warner, concurred with Susan that "Elvis was cute" and so agreed to deliver Susan and a girlfriend to the Mosque about 5 p.m. that May 17. 
</p>
                <p>
"We went over to Taylor's and got something to eat, then went back to the Mosque," Susan says. "Some men were bringing in equipment through the front door, and they let us in early. We headed straight down onto the floor, right in front of the stage. That was a good thing because, as soon as the show started, everybody got up on their feet." 
</p>
                <p>
Jeannie Howell was another 13-year-old junior high (Reed) student in the crowd. She claims that she remained seated while her cousins joined in the "jumping up and down and screaming." 
</p>
                <p>
Few believe Jeannie's recollection of her demure behavior. Not after noticing the Elvis calendar that hangs prominently in her Picture This photo processing business on South Glenstone. And not after seeing the "Thank you, thank you very much" sign at the shop's exit. 
</p>
                <p>
Jeannie saw Elvis again when he returned to Springfield for a sellout concert at Hammons Student Center on June 17, 1977, just two months before his death at age 42. 
</p>
                <p>
Susan also saw him at the '77 concert here, and at a Tulsa concert in 1974. She's visited Graceland, Elvis' home in Memphis. And she has a scrapbook filled with ticket stubs, newspaper clippings and Elvis pictures she snipped from movie magazines purchased in her teens. 
</p>
                <p>
"After the concert at the Mosque, we ran around to the back door to wait for him. Some guy there said Elvis was staying at an old hotel downtown, and we fell for that. We saw a Cadillac pull out, and so we all took off downtown. 
</p>
                <p>
"Later we found out that Elvis actually was staying right across the street from the Mosque at the Kentwood Arms, and that he signed some autographs in the lobby there after the concert. But we missed out." 
</p>
                <p>
In the six months following the 1956 Springfield concert, Elvis became a phenomenon. 
</p>
                <p>
Another TV appearance on the Berle show in June stirred a furor when the camera focused on his swiveling hips during a rendition of "You Ain't Nothin' But a Hound Dog." That was followed by a July guest shot on Steve Allen's TV show. That September, Elvis' first appearance on "The Ed Sullivan Show" drew 80 percent of the national TV audience. A follow-up in late October also was watched by millions. 
</p>
                <p>
The next month, ballyhoo was rampant over the impending release of Elvis' first movie, "Love Me Tender," scheduled to premiere in New York City on Nov. 15 and nationally on Nov. 21.

                </p>
           	</div>
        </div>
    </div>
</div>
