<div class="slider">
  <div id="topslide" class='row centered'>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <ul class="bxslider">
        <% @slides.each do |slide| %>
          
          <li>
            <span class="slidetitle"><%#=slide.title%></span>
            <span class="slideimage"><%= image_tag slide.image.url(:image) %></span>
            
          </li>
          <%end%>

        </ul>
    </div>
  </div>
</div>
     
<script>
$('.bxslider').bxSlider({
  minSlides: 1,
  maxSlides: 1,
  captions: true,
  auto: false,
  adaptiveHeight: true,
  touchEnabled: true,
  slideWidth: 270,
  slideMargin: 1
});
</script>
