<div class="bxslider">
  <div class="slide">
    <div class="bx-caption">
      Caption 1
    </div>
  
      <%= image_tag 'dummies/slides/e1.jpg' %>        
    
  </div>
  <div class="slide">
    <div class="bx-caption">
      Caption 2
    </div>
    
      <%= image_tag 'dummies/slides/e2.jpg' %>        
    
  </div>
  <div class="slide">
    <div class="bx-caption">
      Caption 3
    </div>
    
      <%= image_tag 'dummies/slides/e3.jpg' %>        
    </div>
  
</div>

<!-- <ul class="bxslider">
  <li><%#= image_tag 'dummies/slides/e1.jpg' %>       </li>
  <li><%#= image_tag 'dummies/slides/e2.jpg' %>       </li>
  <li><%#= image_tag 'dummies/slides/e3.jpg' %>       </li>
</ul>
 -->
