<div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
               <%= image_tag 'dummies/slides/e1.jpg' %>
              </div>
              <div class="item">
                <%= image_tag 'dummies/slides/e2.jpg' %> 
              </div>
              <div class="item">
                <%= image_tag 'dummies/slides/e3.jpg' %> 
              </div>
            </div>
          </div>

        <!-- <div class="responsive-slider" >
          <div class="slides" data-group="slides">
            <ul>
              <li>
                <div class="slide-body" data-group="slide">
                  <a><%#= image_tag 'dummies/slides/e1.jpg' %> </a>
                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <a><%#= image_tag 'dummies/slides/e2.jpg' %> </a>
                </div>
              </li>
              <li>
                <div class="slide-body" data-group="slide">
                  <a><%#= image_tag 'dummies/slides/e3.jpg' %> </a>
                </div>
              </li>
            </ul>
          </div>
          <a class="slider-control left" href="#" data-jump="prev"><</a>
          <a class="slider-control right" href="#" data-jump="next">></a>
          <div class="pages">
            <a class="page" href="#" data-jump-to="1">1</a>
            <a class="page" href="#" data-jump-to="2">2</a>
            <a class="page" href="#" data-jump-to="3">3</a>
          </div> -->
        </div>
      <div class="col-lg-2"></div>
      </div>  