<div style="margin-top:10px;" class="slider">
  <div id="topslide" class='row centered'>
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
      <ul class="bxslider">
        <% @slides.each do |slide| %>
          
          <li>
            <span class="slidetitle"><%#=slide.title%></span>
            <span class="slideimage"><%= image_tag slide.image.url(:image) %></span>
            
          </li>
          <%end%>

        </ul>
        <!-- <span style="" id="slider-prev"></span>
        <span style="" id="slider-next"></span> -->
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
     
<script>
$('.bxslider').bxSlider({
  minSlides: 1,
  maxSlides: 1,
  responsive:true,
  captions: true,
  auto: false,
  adaptiveHeight: true,
  touchEnabled: true,
  slideWidth: 270,
  slideMargin: 1,
  nextSelector: '#slider-next',
  prevSelector: '#slider-prev',
  prevText: '<img src= "/assets/images/arrow-left.png">',   
  nextText: '<img src= "/assets/images/arrow_right.png">',
});
</script>
