<div class= 'contactz'>
	<div class='row'>
	    <div id='contact1' class='large-7 columns'>
	  	    
	  		  <h2>Contact Us</h2>
	  		  <p>Got questions, perhaps we have answers.</p>
	  	    
	  	</div>
	</div>
	<div class='row'>
	    <div id='contact2' class='large-6 columns'>
	        <div id='contact2p' class="panel">
	    		<ul class='contact2'>
		    		<li><b>Crazy 'bout Elvis<b></li>
		    		<li>Down at the end of Lonely Street</li>
		    		<li>P.O. Box 1956</li>
		    		<li>Rogersville, MO 65742</li>
		    		<li>info@crazyaboutelvis.com</li>
		        </ul>
		    </div>
	    </div>
	</div>
</div>
<div class='bottom' class='row'>
  <div class='large-12 columns'>
  </div>
</div>