<div class='eventinfo'>
    <h1 id='eventz'>MERCHANDISE</h1>
    <div id='ticketp' class="panel">
      <h4>Merchandise will be available for purchase soon!</h4>
    </div>
</div>
<div class='bottom' class='row'>
  <div class='large-12 columns'>
  </div>
</div>