<div style="min-height:500px;" id="dg"  >
  <div class="container">
    <div class="row centered">
    	<h1 id='eventz'>EVENT MERCHANDISE</h1>
      <h4>Merchandise will be available for purchase soon!</h4>
      
    </div>
    	
       <!--  <div class="col-lg-4 team">
           <span style="height:90px; width:90px;" class="img-circle"> <%#= image_tag 'ticket.png' %></span>
          <h4></h4>
          <h5><i></i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <button class="btn btn alert">Get Tickets</button>

          </p>
        </div>

        <div class="col-lg-4 team">
         <span style="height:90px; width:90px;" class="img-circle"> <%#= image_tag 'ticket.png' %></span>
         
          <h4>VIP Tickets</h4>
          <h5><i></i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <p>
            <button class="btn btn alert">Get Tickets</button>

          </p>
        </div>

        <div class="col-lg-4 team">
          <span style="height:90px; width:90px;" class="img-circle"> <%#= image_tag 'ticket.png' %></span>
          <h4>VIP Packages</h4>
          <h5><i></i></h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
         <p>
            <button class="btn btn alert">Get Tickets</button>

          </p>
        </div> -->
	</div>
</div>
