<div class='eventinfo2'>
    <h1 id='eventz'>NEWS ARTICLES</h1>
 <div id='newsrow' class='row'>
    <div class='large-9 large-centered columns'>   

	   <div id="figure" class='panel'>
	       <p><span><%= link_to image_tag("https://lh3.googleusercontent.com/-nuyaTx9YdrE/AAAAAAAAAAI/AAAAAAAAKUI/Z1LRdBe9GQs/photo.jpg", alt:"yahoo"),'http://news.yahoo.com/elvis-presley-notable-missouri-connections-35th-anniversary-death-165000714.html/'%></span></p>
	  		<h3>Elvis Presley's Notable Missouri Connections</h3>
	  		<p id='anews'>By: William Browning</p>
	  		<p id='dnews'>Published: August 15, 2012</p>
	  </div>
	  <div id="figure" class='panel'>
	       <p><span><%= link_to image_tag("http://www.tasteoftheozarks.com/images/logos/417mag.jpg", alt:"417"),'http://www.417mag.com/417-Magazine/February-2011/Johnny-Wilkinson-Elvis-039s-Right-Hand-Man/'%></span></p>
	  		<h3>Johnny Wilkinson: Elvis's Right-Hand Man</h3>
	  		<p id='anews'>By: Jeff Houghton</p>
	  		<p id='dnews'>Published: February 2011</p>
	  </div>
	  <div id="figure" class='panel'>
	       <p><span><%= link_to image_tag("http://www.tutorialspoint.com/shorttutorials/wp-content/uploads/2012/12/developing-reliable-websites2.jpg", alt:"elvis"),'http://www.elvis.com.au/presley/article_aron_or_aaron.shtml#sthash.3YV1VBO9.5tfNsH98.dpbs'%></span></p>
	  		<h3>Elvis' middle name, is it Aron or Aaron?</h3>
	  		<p id='anews'>By: Elvis Austrailia</p>
	  		<p id='dnews'>Published: January 25, 2008</p>
	  </div>
</div>
</div>
</div>
<div class='bottom' class='row'>
  <div class='large-12 columns'>
  </div>
</div>