<div class='eventinfo'>
    <h1 id='eventz'>OUR PARTNERS</h1>
    <div id='ticketp' class="panel">
      <h4>Partner Information will be available soon!</h4>
    </div>
</div>
<div class='bottom' class='row'>
  <div class='large-12 columns'>
  </div>
</div>