<div id="dg">
  	<div class="container">
    	<div class="row centered">
    		<h1 id='eventz'class="red">TICKET INFORMATION</h1>
      		<h4>Ticket Information will be available soon!</h4>
    	</div><br/><br/>
    	
        <%#= render 'ticketinfo' %>
	</div>
</div>
