<div class='row'>
    <div class='large-6 large-centered columns'>
		<div class="field">
		  <% f.attribute_fields do |a| %>
		    <% a.attribute_select associations: [:visit] %>
		  <% end %>
		  <%f.predicate_select compounds: false, only:[:cont] %>
		  <% f.value_fields do |v| %>
		    <% v.text_field :value %>
		  <% end %>
		  <%= link_to "remove", '#', class: "remove_fields" %>
		</div>
    </div>
</div>