<div id="dg ">
    <div style="padding-top:30px;" class="container">
  	    <div class="row centered">
			<h1>New Slide</h1>
			<%= link_to 'Back', user_root_path %>
			<%= render 'form' %>

			
		</div>
	</div>
</div>
