<div id="artnew" class='large-4 large-centered columns'> 
	<h1 style="font-family:Lora;" id='articleh'>New article</h1>
</div>
	<%= render 'form' %>
<div id="artnew" class='large-4 large-centered columns'>  
	<span class="newnews">	<%= link_to 'Back', articles_path %> </span>
</div>
