<script>
$('.collapse').collapse()
</script>
<div class="contents"> 
    <div class="container">
        <div id="w">
        	<%= render 'category' %>
        	<%= render 'merchandise' %>
        </div>
    </div>
</div>