<%= form_tag AppConfig.paypal_url do %>
	<%= hidden_field_tag :cmd, "_s-xclick" %>
	<%= hidden_field_tag :encrypted, ticket.paypal_url(tickets_url, notification_tickets_url) %>
	<p><%= submit_tag "Buy Now!!", :class => "btn primary"%></p>
<% end %>