<div class="contents"> 
  <div class="container">
    <div style="background:#f2f2f2; min-height:400px;" id="dg">
      <div class ="row centered">
        
          <%= render 'product' %>
       
      </div>
    </div>
  </div>
</div>