/**UNIVERSAL*****************************/

@import url(http://fonts.googleapis.com/css?family=Lora);

html,body
{
    width: 100%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

*:focus{

  outline:none;
}

.container{

font-family: 'Lora', serif;

}

/*MODAL RESPONSIVE*/
// .modal-body {
//   min-height: 500px;
//   width:auto;
//   overflow: auto;
// }

/*NAVBAR MENU*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}



a {

  color: #AE1A26;
  text-decoration:none;
}

#clickit{

  color: #AE1A26;
}

.red{

  color: #AE1A26;
  font-family: 'Lora', serif;
  font-size:36px;
}

#findb button:hover{

  border:2px solid #AE1A26;
  color:#AE1A26;
  font-weight:bold;

}

// .modal{

// margin:0 auto;
// position:fixed;

// width:100%;
// }



// .modal.modal-content{
  
//   margin-right:400px;
// }

// .modal-dialog{
 
  
//   min-width:800px;
// }

#myModalLabel p{

  font-size:14px;
}

.xit{
color:#AE1A26;
  
}

textarea{

  min-width:500px;
}

#galbg{

  background: #F7F7F7;
  padding:20px 5px 0px 5px;
  margin:20px 0px 20px 0px;
}


/*Elvis Visits Section*/

#evisit img{

border:2px solid grey;
width:260px;

}

#evisit button:hover{
  border:2px solid #AE1A26;
  color:#AE1A26;
  font-weight:bold;
  
}

/*HEADER************************/

#closex{

	// margin-top:-20px;
	// margin-right:-5px
}


/**FOOTER*****************************/

// #f i:hover{

//   color:#AE1A26;
// }


#iconso li{

	float:left;
	list-style:none;
	margin-right:15px;
}


/*EVENT CALENDER******************************/

.table>thead th{
	
	background:grey;
	color:white;
	font-size:18px;
	text-align:center;
	width:20%;
}


.textp{

  color:black;
}

.eventb{

  color:black;
  font-weight:bold;
  font-size:18px;

}

.textp:hover{ 

  color:#AE1A26;
}




.elist li{

	margin-bottom:15px;
	margin-left:-40px;

}

.elist li:nth-child(odd){ 
  background: white;
  padding:10px 3px 10px 3px;

}

.elist li:nth-child(even){ 
  background: #D7D5C8;
  padding:10px 3px 10px 3px;

}



table ul li{

	list-style:none;
}

#jpic1 img{

	border:2px solid grey;
	height:350px;
}

/*PHOTO GALLERY******************************/
#sbut{

	margin-left:15px;
}

#gshare{

	float:left;
	margin-right:-15px;
}

#share{
	margin-left:20px;
}

#toprowg{

	margin-bottom:20px;
}

#image2 img{

	height:220px;
}


#visitz2 {
  color:#AE1A26;
  font-size:18px;
  margin-bottom:3px;
  margin-top:5px;
}

#visitz2 a{
  color:#AE1A26;
 
}

#galtitle{
  margin-bottom:-12px;
  font-size:16px;
}

#galauthor{

  margin-top:-12px;
}


#image img{

  height:350px;
}

/*Modal Layout in Gallery*/

#viewvisit{
  color:#AE1A26;
  font-size:22px;
  margin-bottom:9px;

}

#galvisit{
  color:#AE1A26;
}

#galtitle{

  color:grey;
}

#galauthor{

  color:grey;
}

#viewtitle{
  margin-bottom:-5px;
  font-size:18px;
}

#galbg{

  margin-right:25px;
}

/*HOME PAGE IMAGE SLIDER******************************/
.carousel{
position: relative;
z-index: 9;
}

.carousel{
	max-height:500px;
	max-width:800px;
}

.carousel-inner>.item>img{

  border:10px solid white;
	height:100%;
	margin-right:-5px;
  width:100%;
  
}

.carousel-indicators{

	margin-bottom:-105px;
  padding-bottom:20px;
}

.capcare{
  text-align:center;
}

.carousel-caption{
  
  position:static;
  margin-top:-40px;
  
}

button.close{

color:#AE1A26;
font-size:22px;
  font-weight:bold;
}


#cleft{

  background:transparent;
}

#cright{

  background:transparent;
}

#cleft i{
  margin-top:40px;  
}

/*NEWS ARTICLES*********************************/

#anews{
  margin-top:-7px;
  
}

#articlez{

  height:100%;
  min-height:1000px;
}

#newsrow{

  margin-left:-5px;
}

#figure{
  
  box-shadow: 10px 10px 5px #888888;
  border:3px solid white;
  margin-left:50px;

  width:85%;
}

#figure img{
  float:left;
  height:150px;

  margin:10px 20px 0px 5px;
  padding:10px 0px 10px 5px;
  width:175px;
}

#artnew{

  margin-top:15px;
}


.newnews{

  background:grey;
   padding:5px;
}

#newnews a{

  padding:5px;
  
}

#articleh{
  
  text-align:center;
  width:100%
}

.container a {

  color:#AE1A26;
}

#tnews{
   color:#AE1A26;
  font-size:18px;
  margin-top:20px;
}

#dnews{
  color:grey;
  margin-top:-5px;
}

#anews{
  color:grey;
  margin-bottom:-5px;
}

#adminr{

  height:100%;
  min-height:500px;
}

.elist{

  list-style:none;
}




/*PAGINATION*************************************/




.pagination {
  
  cursor: default;
  height: 22px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  
  .disabled {
    
  }
  .current {
    font-style: normal;
    margin-top:3px;
    background: grey;
    color: white;
   
  }
  a {
    text-decoration: none;
    color: #105cb6;
    
    &:hover, &:focus {
      color: #000033;
      
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

#aboutus{

  border:1px solid black;
  padding:20px;

}



#newsphoto img{

  height:60px;
  width:60px;
}

#slidephoto img{

  height:60px;
  width:80px;
}

/*Toggle Menu*/

#menuTop{

  border:1px solid grey;
  background:white;
  opacity:0.6;
  filter:alpha(opacity=60);
  float:right;
  top:.5;
  right:0;
  position:absolute;
  // width:100%;
  z-index:999;
  
}

#johnrow img{

  max-width:255px;
  min-height:350px;
}

.modal-body{

  margin:5px 15px 5px 15px;
}

.modal-body p{

  font-size:14px;
}

#modclose{
  
  
  font-size:12px;
  margin-right:160px;
  
  margin-bottom:10px;
}

.navbar-toggle > .icon-bar{

  background:white;
}

.micon{

  color:#AE1A26;
}


/*BX SLIDER*/

// .bx-wrapper.bx-viewport{
//   background:none;
//   border:none;
//   max-width:700px;
// }

.bx-viewport{

  background:none;
  border:none;
}

.bx-viewport ul {
  background:none;
  margin: 0;
  padding: 0;
}

li.bx-clone{

  width:100%;
  background:none;
}

.bx-viewport.bxslider{

  background:none;
}

// .caption{

//   line-height:20px;
// }

.jumbotron p{

  font-size:16px;
}

.slidetitle{
  color:white;
  background-color: rgba(7,20,30,.7);
  font-size:18px;
  margin-top:-10px;
  margin-left:-290px;
  padding:0px 5px 0px 5px;
  position:absolute;
  width:auto;
  z-index:999;
  
}

#newsbut{

  color:#AE1A26;
}

.nav-tabs>li>a{

  border:1px solid white;
   box-shadow: 10px -3px 5px #888888;
  
  background:white;
}

.nav-tabs>li.active>a{

  font-weight:bold;
}

.table {

  border:1px solid black;
}

.tab-pane{

  background:white;
  border-radius:10px;
  box-shadow: 10px 10px 5px #888888;
  min-height:500px;
}

.tab-pan tbody{

  margin:6px;
}

.tab-content{

  background:white;
  border-radius:10px;
}

.tab-content h1{
  padding-top:10px;
  }

  /*GRID CSS*/

  .mt {
    padding-top: 25px;
}


#port {
    width: 100%}

.grid {
     
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}

.grid a{

    overflow:hidden;
}


.grid li {

    border:1px solid rgba(7,20,30,.7);
    background:white;
    box-shadow: 10px 10px 5px #888888;
    display: block;
    float: left;
    overflow:hidden;
    padding: 7px;
    margin-bottom:10px;
    margin-right:13px;
    width: 31%;
    opacity: 0;

}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%
}
.grid img {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;  
    opacity: .7;
    
}
.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}
.newsy{

  text-align:center;
}
.newsy img{
  border-radius:175px;
  height:175px;
  margin:0 auto;
  width:175px;
}

#newsit{
  color:#AE1A26;
  font-size:18px;
}

#newspic img{

  border:2px solid grey;
  
}

#navpic img{

  height:50px;
  padding-bottom:10px;
}

#headme2{

  // background: url(bluehead.png) no-repeat center top;
  background:grey;

}

#headme2 img{

  height:90px;
  float:left;
  padding-bottom:10px;
}

#nav2 li a{
color:#AE1A26;

}

#header2{

  margin-bottom:90px;
}

.con1{

  margin-bottom:-2px;
}

.con2{

  margin-bottom:-6px;
}

.whate{

  height:1px;
}

#nav2 li{

  float:left;
  font-size:13px;
}

#ticketz img{

  max-height:156px;
  max-width: 156px;
}

/*Partners*/

#partners{

  margin-bottom:20px;
  margin-top:-15px;
}

#partphoto img{

  border-radius:80px;

  height:80px;
  width:80px;

}

#partname{

  font-weight:bold;
  margin-bottom:-1px;
}

#partadd{
font-size:12px;
margin-bottom:-7px;
  
}

#partcsz{
font-size:12px;
 margin-bottom:-7px; 
}

#partphone{
font-size:12px;
  
}

/*John Wilkinson*/

#johnw{

  margin-top:-75px;
  margin-bottom:10px;
}