/**UNIVERSAL*****************************/

@import url(http://fonts.googleapis.com/css?family=Lora);

.container{

font-family: 'Lora', serif;

}

a {

  color: #AE1A26;
}

#clickit{

  color: #AE1A26;
}

.red{

  color: #AE1A26;
  font-family: 'Lora', serif;
  font-size:36px;
}



.modal{

margin:0 auto;
position:fixed;

width:100%;
}



.modal.modal-content{
  
  margin-right:400px;
}

.modal-dialog{
 
  
  min-width:800px;
}


textarea{

  min-width:500px;
}

#galbg{

  background: #F7F7F7;
  padding:20px 5px 0px 5px;
  margin:20px 0px 20px 0px;
}

/*HEADER************************/

#closex{

	margin-top:-20px;
	margin-right:-5px
}
/**FOOTER*****************************/

// #f i:hover{

//   color:#AE1A26;
// }


#iconso li{

	float:left;
	list-style:none;
	margin-right:15px;
}

#iconso{


}

/*EVENT CALENDER******************************/

table.table.table-bordered {

	
	
}

table td{

	
}

table th{
	
	background:grey;
	color:white;
	font-size:18px;
	text-align:center;
	
}

.table-bordered > thead > tr > th
{

	width:228px;
}

.table-bordered > tbody > tr > td{

	
}

.elist li{

	margin-bottom:15px;
	margin-left:-50px;

}

.elist li:nth-child(odd){ 
  background: white;
  padding:10px 0px 10px 0px
}

table ul li{

	list-style:none;
}

#jpic1 img{

	border:2px solid grey;
	height:350px;
}

/*PHOTO GALLERY******************************/
#sbut{

	margin-left:15px;
}

#gshare{

	float:left;
	margin-right:-15px;
}

#share{
	margin-left:20px;
}

#toprowg{

	margin-bottom:20px;
}

#image2 img{

	height:220px;
}


#visitz2 {
  color:#AE1A26;
  font-size:22px;
  margin-bottom:9px;
}

#visitz2 a{
  color:#AE1A26;
 
}

#galtitle{
  margin-bottom:-12px;
  font-size:18px;
}

#galauthor{

  margin-top:-12px;
}


#image img{

  height:350px;
}

/*Modal Layout in Gallery*/

#viewvisit{
  color:#AE1A26;
  font-size:22px;
  margin-bottom:9px;

}

#galvisit{
  color:#AE1A26;
}

#galtitle{

  color:grey;
}

#galauthor{

  color:grey;
}

#viewtitle{
  margin-bottom:-5px;
  font-size:18px;
}

#galbg{

  margin-right:25px;
}

/*HOME PAGE IMAGE SLIDER******************************/
.carousel{
	max-height:500px;
	max-width:800px;
}

.carousel-inner>.item>img{

	height:100%;
	width:100%;
}

.carousel-indicators{

	margin-bottom:-55px;
}


/*NEWS ARTICLES*********************************/

#anews{
  margin-top:-7px;
  
}

#articlez{

  height:100%;
  min-height:1000px;
}

#newsrow{

  margin-left:-5px;
}

#figure{
  
  box-shadow: 10px 10px 5px #888888;
  border:3px solid white;
  margin-left:50px;

  width:85%;
}

#figure img{
  float:left;
  height:150px;

  margin:10px 20px 0px 5px;
  padding:10px 0px 10px 5px;
  width:175px;
}

#artnew{

  margin-top:15px;
}


.newnews{

  background:grey;
   padding:5px;
}

#newnews a{

  padding:5px;
  
}

#articleh{
  
  text-align:center;
  width:100%
}



#tnews{
   color:#AE1A26;
  font-size:18px;
  margin-top:20px;
}

#dnews{
  color:grey;
  margin-top:-5px;
}

#anews{
  color:grey;
  margin-bottom:-5px;
}

#adminr{

  height:100%;
  min-height:500px;
}

.elist{

  list-style:none;
}

/*PAGINATION*************************************/




.pagination {
  
  cursor: default;
  height: 22px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  
  .disabled {
    
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}

#aboutus{

  border:1px solid black;
  padding:20px;

}



#newsphoto img{

  height:60px;
  width:60px;
}

