@import url(http://fonts.googleapis.com/css?family=Lora);



/**FOOTER*****************************/

#iconso li{

	float:left;
	list-style:none;
	margin-right:15px;
}

#iconso{


}


table.table.table-bordered {

	
	text-align:center;
}

table td{

	text-align:center;
}

table th{

	text-align:center;
}

table ul li{

	list-style:none;
}

#jpic1 img{

	border:2px solid grey;
	height:350px;
}


#sbut{

	margin-left:15px;
}

#gshare{

	float:left;
	margin-right:-15px;
}

#share{
	margin-left:20px;
}

#toprowg{

	margin-bottom:20px;
}

#gallery img{

	height:250px;
}

.galvisit{

	font-size:18px;

}

#galtitle{
	margin-top:-10px;
	margin-bottom:-10px;

}

#galauthor{

margin-top:-10px;
}