/**UNIVERSAL*****************************/

@import url(http://fonts.googleapis.com/css?family=Lora);

.container{

font-family: 'Lora', serif;

}
.red{

  color: #AE1A26;
  font-family: 'Lora', serif;
  font-size:36px;
}

/**FOOTER*****************************/

#iconso li{

	float:left;
	list-style:none;
	margin-right:15px;
}

#iconso{


}

/*EVENT CALENDER******************************/

table.table.table-bordered {

	
	
}

table td{

	
}

table th{
	
	background:grey;
	color:white;
	font-size:18px;
	text-align:center;
	
}

.table-bordered > thead > tr > th
{

	width:228px;
}

.table-bordered > tbody > tr > td{

	
}

.elist li{

	margin-bottom:15px;
	margin-left:-50px;

}

.elist li:nth-child(odd){ 
  background: white;
  padding:10px 0px 10px 0px
}

table ul li{

	list-style:none;
}

#jpic1 img{

	border:2px solid grey;
	height:350px;
}

/*PHOTO GALLERY******************************/
#sbut{

	margin-left:15px;
}

#gshare{

	float:left;
	margin-right:-15px;
}

#share{
	margin-left:20px;
}

#toprowg{

	margin-bottom:20px;
}

#gallery img{

	height:250px;
}

.galvisit{

	font-size:18px;

}

#galtitle{
	margin-top:-10px;
	margin-bottom:-10px;

}

#galauthor{

margin-top:-10px;
}

/*HOME PAGE IMAGE SLIDER******************************/
.carousel{
	max-height:500px;
	max-width:800px;
}

.carousel-inner>.item>img{

	height:100%;
	width:100%;
}

.carousel-indicators{

	margin-bottom:-55px;
}