.payments {
  pre {
    overflow-y: auto;
    margin: 1% 0;
    padding: 15px;
    border: 1px solid grey;
    
    background: transparentize(white, 0.8);
  }
  .unsubscribe {
    font-size: .6em;
    a {
      color: red;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
  }
}
