<div style="min-height:500px;" id="dg ">
    <div class="container">
<%= simple_form_for @category do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
</div>
</div>