<div style="min-height:500px;" id="dg ">
    <div class="container">
		<h2>Donations</h2>

		<% for product in @products %>
		  <div class="product">
		    <h4>
		      <%= link_to h(product.name), product %>
		    </h4>
		    <p style="margin-bottom:-5px;">Donation Amount: <%= number_to_currency(product.price) %></p>
		    <div class="actions">
		      <%= link_to "Select Amount", line_items_path(:product_id => product), :method => :post %>
		    </div>
		  </div>
		<% end %>
		<%#= link_to 'New Product', new_product_path %>
	</div>
</div>
