<div class='eventinfo'>
  <h1 id='eventz'>EVENTS SCHEDULE</h1>
  <h3 id='eventzdate'>APRIL 2016</h3>
  <div class="panel">
  <h4>Schedule of Events Coming Soon</h4>
  </div>

  <table id='eventtable'>
    <thead>
      <tr id='eventheader'>
        <th class='thevent'><span class='eday'>TUESDAY</span><br/><span class='edate'>26</span></th>
        <th class='thevent'><span class='eday'>WEDNESDAY</span><br/><span class='edate'>27</span></th>
        <th class='thevent'><span class='eday'>THURSDAY</span><br/><span class='edate'>28</span></th>
        <th class='thevent'><span class='eday'>FRIDAY</span><br/><span class='edate'>29</span></th>
        <th class='thevent'><span class='eday'>SATURDAY</span><br/><span class='edate'>30</span></th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr id='row1'>
       <td class='etues'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>10:00 AM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       <div class="reveal-modal-bg" style="display: none"></div>
     </td>
       <td class='ewed'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>12:00 AM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
       <td class='ethurs'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>10:00 AM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
       <td class='efri'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>10:00 AM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
       <td class='esat'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>10:00 AM</p><br/>
       <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
      </tr>
      <tr id='row2'>
       <td class='etues'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>12:00 PM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
      </td>
       <td class='ewed'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>2:00 PM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
       <td class='ethurs'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>12:00 PM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
       <td class='efri'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>5:00 PM</p><br/>
       <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
       <td class='esat'>
        <p id='eventname'>EVENT NAME</p><br/>
        <p id='eventtime'>10:00 AM</p><br/>
        <div id="myModal" class="reveal-modal">
           <h2>Awesome. I have it.</h2>
            <p class="lead">Your couch.  It is mine.</p>
            <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
       <p id='eventinfo'><a href="#"data-reveal-id="myModal"><button class='tiny button'>EVENT INFO</button></a></p>
       </td>
      </tr>
      <tr>
      </tr>
   </tbody> -->
  </table>
</div>