
  
  <!-- ========== FOOTER SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
	<div class="container">
	    <div class="row">
	      <h3><b>NEED TO REACH US</b></h3>
	      <br>
	      <div class="col-lg-4">
	        <h3><b>Send Us A Message</b></h3>
	        <h3>info@crazyaboutelvis.com</h3>
	        <br>
	      </div>
	      
	      <div class="col-lg-4">  
	        <h3><b>Call Us</b></h3>
	        <h3>+55 3984-4389</h3>
	        <br>
	      </div>
	      
	      <div class="col-lg-4">
	        <h3><b>We Are Social</b></h3>
	        <p>
	          <a href="index.html#"><i class="icon-facebook"></i></a>
	          <a href="index.html#"><i class="icon-twitter"></i></a>
	          <a href="index.html#"><i class="icon-envelope"></i></a>
	        </p>
	        <br>
	      </div>
	    </div>
	  	<!-- <div class="row">
			<div class="col-lg-8 col-lg-offset-3">
		      	<ul id='iconso'>
			  	    <li id='p1'><%#= link_to "CONTACT US",  contact_path %></li>
					<li id='p2'><%#= link_to "ABOUT US",  about_path %></li>
					<li id='p3'><%#= link_to "EVENTS",  schedule_path %></li>
				    <li id='p3'><%#= link_to "NEWS",  articles_path %></li>
					<li id ='p4'><%#= link_to "PARTNERS", partner_path %></li>
		    	</ul>
			</div>
		</div> -->
	</div>
</div><!-- /container -->


