<section id="contact" name="contact"></section>
<div class="footerz" id="f">
	<div class="container">
    	<div class="row">
	      <br>
	      <div class="col-lg-4">
	        <h3><b>Send Us A Message</b></h3><br/>
	        info@crazyaboutelvis.com
	        <br>
	      </div>
	      <div class="col-lg-4">  
	        <h3><b>Send Us A Letter</b></h3>
	        <b>Crazy 'bout Elvis<b><br/>
		       Down at the end of Lonely Street<br/>
		       P.O. Box 1956<br/>
		       Rogersville, MO 65742
	        <br>
	      </div>
	      <div class="col-lg-4">
	        <h3><b>We Are Social</b></h3>
	        <p>
	          <a href="index.html#"><i class="icon-facebook"></i></a>
	          <a href="index.html#"><i class="icon-twitter"></i></a>
	          <a href="index.html#"><i class="icon-envelope"></i></a>
	        </p>
	        <br>
	      </div>
	    </div>
	</div>
</div><!-- /container -->


