<section id="contact" name="contact"></section>
<div class="footerz" id="f">
	<div class="container">
    	<div class="row">
	      <br>
	      <div class="col-lg-4">
	        <h3 class="con1"><b>Send Us A Message</b></h3>
	        <p>info@crazyaboutelvis.com</p>
	        <br>
	      </div>
	      <div class="col-lg-4">
	        <h3><b>We Are Social</b></h3>
	        <p>
	          <a href="index.html#"><i class="icon-facebook"></i></a>
	          <a href="index.html#"><i class="icon-twitter"></i></a>
	          <a href="index.html#"><i class="icon-envelope"></i></a>
	        </p>
	        <br>
	      </div>

	      <div class="col-lg-4">  
	        <h3 class ="con1"><b>Send Us A Letter</b></h3>
	        <p class="con2">Crazy 'bout Elvis</p>
		      <p class="con2"> Down at the end of Lonely Street</p>
		      <p class="con2"> P.O. Box 1956</p>
		      <p class="con2"> Rogersville, MO 65742</p>
	        
	      </div>
	      
	    </div>
	</div>
</div><!-- /container -->


