 <div>
    <nav class="topnav2"><!-- PAGE BOTTOM NAV -->
		<ul id="nav2" class="sf-menu">
			<li><a href="index.html">CALENDAR<i><b></b></i></a></li>
			<li><a href="page.html">GET INVOLVED<i><b></b></i></a></li>
			<li><a href="blog.html">PHOTOGRAPHS<i><b></b></i></a></li>
			<li><a href="portfolio.html">NEWS ARTICLES<i><b></b></i></a></li>
		</ul>
	</nav><!-- ends nav -->
</div><!-- ENDS STICKY CONTENT -->