<p>
 In 1956, before he rocketed into music history, Presley performed at the Shrine Mosque in Springfield, MO.<br/> 
 In between shows and rehearsals, the King walked a short distance towards downtown to watch a movie at the Gillioz Theatre .<br/> Presley watched "Jubal" starring Glenn Ford from the very back row of the historic building.

</p>