<div class='row'>
	<div id='slider' class='small-12 small-centered columns'>
<div id='featz'>
	<div class ='row'>
	    <div id='picslide' class='small-12 small-centered columns'>
	        <div class="slideshow-wrapper">
		        <ul id="featured1" data-orbit data-options="timer_speed:2500; bullets:false;">
			        <li class='active'>
			           <a><%= image_tag 'dummies/slides/e1.jpg' %> </a>
			           <div class="orbit-caption">...</div>
			        </li>
			        <li>
			           <a><%= image_tag 'dummies/slides/e2.jpg' %> </a>
			           <div class="orbit-caption">...</div>
			        </li>
			        <li>
		               <a><%= image_tag 'dummies/slides/e3.jpg' %> </a>
		               <div class="orbit-caption">...</div>
		            </li>
		        </ul>
	        </div>	
	    </div>
	</div>
</div>
</div>
</div>